.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    padding-bottom: 10px;
    position: absolute;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    padding-bottom: 10px;
    left: 250px;
    position: absolute;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    padding-bottom: 10px;
    left: 500px;
    position: absolute;
  }