.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    color: blue;
    border-style: solid;
    border-width: 16px;
    border-color: green;
}

.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    left: 300px;
    position: absolute;
    color: blue;
    border-style: solid;
    border-width: 16px;
    border-color: red;
}

.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    left: 600px;
    position: absolute;
    color: blue;
    border-style: solid;
    border-width: 16px;
    border-color: yellow;
}